html, body, #app {
    height: 100%;
    margin: 0;
}

.container {
    margin-bottom: 65px;
    min-height: 85%;
}

@media (max-device-height: 568px) {
    .container {
        min-height: 75%;
    }
}

@media (max-device-height: 736px) {
    .container {
        min-height: 78%;
    }
}

.navbar-default {
    background-color: black;
    height: 51px;
}

.navbar-header a.navbar-brand {
    color: #3399FF;
    font-size: 14px;
}

.navbar-header a.navbar-brand:hover{
   color: #ffffff;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
    color: #3399FF;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-text:hover {
    color: #ffffff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: aquamarine;
    color: #3097D1;
}

.navbar-nav>li>.dropdown-menu {
    background-color: aquamarine;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: aquamarine;
}

.navbar-search-group {
    float: left;
    padding: 9px;
}

.navbar-search-group button {
    background-color: #ffffff;
}
.navbar-search-group button:hover {
    color: #3399FF;
}

@media (max-width: 375px) {
    .navbar-search-group input {
        width: 8em;
    }
}

@media (min-width: 500px) {
    .navbar-search-group {
        position: absolute;
        left: 40%;
    }
}


.navbar-search-group input#search {
    padding-left: 5px;
}

.navbar-search-group input::placeholder {
}

.wel-label {
    position: relative;
    padding-top: 14px;
    padding-bottom: 14px;
    float: left;
}

.nav-card {
    background: #E6F4FB;
    margin-top: 15px;
}

.nav-card-head {
    border-bottom: solid 1px #fff;
}

.nav-card-title {
    line-height: 32px;
    font-weight: bold;
    border-left: solid 5px aquamarine;
    padding: 0 6px;
}

.nav-card-content {
    padding: 10px 15px;
}

.nav-card-content-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-card-content-list >li {
    display: inline-block;
    margin-right: 8px;
}

.nav-card-content-list >li >span {
    border-radius: 1000px;
    text-align: center;
    display: inline-block;
    min-width: 10px;
    padding: .25em .625em;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #999;
}

a {
    text-decoration: none;
}

a:hover {
    color: #0067CC;
    text-shadow: 0 0 10px #92CCFF;
    text-decoration: none;
}

.content-title {
    font-weight: 400;
    font-size: medium;
    margin-bottom: 1px;
    text-overflow: ellipsis;
}

.text-red {
    color: red;
}

.content-content {
}

.show-content-title {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

.show-content-copyright {
    text-align: center;
    padding: 10px;
}

.show-content-content {
    word-wrap: break-word;
}

.nav-location {
    border-bottom: 1px solid royalblue;
    margin-bottom: 16px;
}

.footer {
    color: #999999;
    font-size: 14px;
    text-align: center;
    height: 65px;
    margin-top: -65px;
}

.footer-link {
    display: inline-block;
    vertical-align: top;
    margin: 0 .62em;
    position: relative;
    font-size: 12px;
}
.footer-text {
    padding: 0 .34em;
    font-size: 12px;
}

.list-item {
    margin: 20px 0;
    padding-left: 15px;
    padding-right: 15px;
}